*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: sans-serif, Arial, Helvetica;
  background-image: linear-gradient(to right top, #e556e5, #bb4fbc, #944694, #6e3c6e, #4a314a);
}