*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif, Arial, Helvetica;
  background-color: rgb(75, 80, 80);

  h1{
    text-align: center;
    font-weight: lighter;
    color: rgb(255, 251, 251);
  }
}