.repository-list{
  margin: 3rem;

  h1{
    font-family: Arial;
    font-size: 2rem;

    
  }


  ul{
    list-style: none;
    margin-top: 2rem;
  }

  li {

    & + li{
      margin-top: 1.5rem;
    }

    p{
        margin-top: .5rem;
    }


    a{
      display: inline-block;
      margin-top: 1rem;
      text-decoration: none;

      color: #ca92e4;
    }
  }

}  